# Importing the libraries

In [2]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Importing the dataset

In [3]:
animedf = pd.read_csv("_anime.csv")
animedf.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
animedf["name"]

0                                           Kimi no Na wa.
1                         Fullmetal Alchemist: Brotherhood
2                                                 Gintama°
3                                              Steins;Gate
4                                            Gintama&#039;
                               ...
12289         Toushindai My Lover: Minami tai Mecha-Minami
12290                                          Under World
12291                       Violence Gekiga David no Hoshi
12292    Violence Gekiga Shin David no Hoshi: Inma Dens...
12293                     Yasuji no Pornorama: Yacchimae!!
Name: name, Length: 12294, dtype: object

In [5]:
animedf["rating"].describe()

count    12064.000000
mean         6.473902
std          1.026746
min          1.670000
25%          5.880000
50%          6.570000
75%          7.180000
max         10.000000
Name: rating, dtype: float64

In [6]:
ratingdf = pd.read_csv("rating.csv")
ratingdf.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

# Prepareing the data for further use

In [7]:
animedf.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [8]:
animedf['type'] = animedf['type'].fillna('None')
animedf['genre'] = animedf['genre'].fillna('None')
animedf['rating'] = animedf['rating'].fillna('None')
animedf.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [9]:
ratingdfdf = ratingdf[ratingdf.rating > 0]
ratingdf.rating.unique()

array([-1, 10,  8,  6,  9,  7,  3,  5,  4,  1,  2])

# Vectorizing the genre of the anime(string)

In [10]:
cV = CountVectorizer()
vectors = cV.fit_transform(animedf["genre"]).toarray()

# Computing the similarities among non-zero vectors

In [11]:
similarity = cosine_similarity(vectors)

/home/vo1d/.local/lib/python3.10/site-packages/sklearn/utils/extmath.py:193: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b

In [12]:
similarity[0]

array([1.        , 0.18898224, 0.        , ..., 0.        , 0.        ,
       0.        ])

# Making the function for recommending anime

In [13]:
def recommend(anime):
    anime_index = animedf[animedf["name"] == anime].index[0]
    distances = similarity[anime_index]
    anime_list = sorted(list(enumerate(distances)), reverse = True, key = lambda x:x[1])[1:10]
    
    for i in anime_list:
        print(animedf["name"].iloc[i[0]])

In [14]:
recommend("Under World")

Mankitsu Happening
Koiito Kinenbi The Animation
Oni Chichi: Rebuild
Eroge! H mo Game mo Kaihatsu Zanmai
Oni Chichi: Re-birth
Swing Out Sisters (2014)
Maki-chan to Nau.
Stringendo: Angel-tachi no Private Lesson
Shoujo Ramune